exclude.txt
whi2KO_colony.R
csp6KO_colony.R
pro41KO_colony.R
SDS_whi2KO_colony.R
"C:\Users\godmu\OneDrive - 名古屋大学\修論\Figure\colony diameter\script\csp6KO_colony.R"
"C:\Users\godmu\OneDrive - 名古屋大学\修論\Figure\colony diameter\script\pro41KO_colony.R"
"C:\Users\godmu\OneDrive - 名古屋大学\修論\Figure\colony diameter\script\SDS_whi2KO_colony.R"
"C:\Users\godmu\OneDrive - 名古屋大学\修論\Figure\colony diameter\script\whi2KO_colony.R"